.tb_panel {
    border: none;
}

.tb_title {
    background: url("images/panel_title.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #99BBE8;
    color: #15428B;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    height: 15px;
    padding: 5px;
    position: relative;
}

.tb_toolbar {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    height: 28px;
    padding: 1px 2px;
}

.datagrid-body .selected {
    background: #FFFF00;
}